@import url('https://fonts.googleapis.com/css?family=Oswald');

@keyframes pulse-animation {
  0%{background-color: #e66;}
  50%{background-color: #000);}
}

.menu{
  width: 80%;
  height: 90%;

  background-color: #280f0f;

  border-radius: 10px 10px 30px 30px;

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 10%;

  padding-top : 10px;
  padding-bottom: 10px;

  min-height: 500px;

  font-family: 'Oswald', sans-serif;
}

body {
  background-image: radial-gradient(
    rgb(40, 15, 15) 1%,
		rgba(105, 105, 105,0.6) 1%,
		rgb(40, 15, 15) 98%
	);

  height: 100%;

  background-color: #682a2a;
  animation: pulse-animation 12s alternate infinite;
  transition: 1s;
}

.game-view {
  padding: 0;
  margin: auto;

  width: 600px;
  height: 600px;
  display: block;

  border:1px solid #000000;
}

.question {
  margin : 10px;
}

.title{
  font-weight: 900;
  color: #91907a;
  font-family: sans-serif;
  padding: 5px;
  animation: burn 2s alternate infinite;
}

.title-div {

}

.form-group {
  margin-top: 50px;
}

.approach-content {
  margin: 10px;
}

.approach-bullet-points {
  font-size: 14px
}

#id1 .approach-bullet-points > a .btn-default{
  font-size: 45px !important;
}

.content-main {
  white-space: pre-wrap;
}

.btn-primary {
  background-color: #576876
}
