@import url('https://fonts.googleapis.com/css?family=Oswald');

.menu{
  position: relative;
  width: 80%;

  border-radius: 2px 2px 2px 2px;

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 10%;

  padding-top : 10px;
  padding-bottom: 10px;

  flex: 1;
  height: auto;
  min-height: 500px;


  background-color: rgba(10,10,10, 0.85);

  font-family: 'Oswald', sans-serif;
  color: #b4b4b4;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border: solid 3px #666;
}

body {
  background: linear-gradient(to right, #fff , #ccc, #fff);
  background-color: #eee;
}

.title{
  font-weight: 900;
  color: #ccc;
  font-family: sans-serif;
  padding: 5px;
}

.form-group {
  margin-top: 50px;
}

.btn-primary {
  background-color: #576876
}

.footer {
  position:absolute;
  bottom:0;
}

.bottom-button {
  text-align: center;
  margin: auto;
  right: 50px;
  left: 50px;
  margin-bottom: 10px;
}
