<span class="employee"> Employee: <input ng-model="employee.name"> </input> </span>
<div id="conversation">
  <div class="bubble-other"> *You Walk into the room*</div>
  <div ng-repeat="message in history"
      class="{{message.user=='boss'? 'bubble-boss' : message.user=='other'? 'bubble-other': 'bubble-employee'}}">
    {{message.text}}
  </div>
</div>

<p class = "text-center"> Options </p>

<div class="conversation-options">
  <div class="bubble-employee selectable-bubble" class="" ng-if="employee.emotional != ''" ng-click="emotionalResponse()">
    {{employee.agressive}}
  </div>
  <div class="bubble-employee selectable-bubble" class="" ng-if="employee.agressive != ''" ng-click="aggressiveResponse()">
    {{employee.agressive}}
  </div>
  <div class="bubble-employee selectable-bubble" ng-if="employee.empathetic != ''" ng-click="empatheticResponse()">
    {{employee.empathetic}}
  </div>
  <div class="bubble-employee selectable-bubble" ng-if="employee.empathetic != ''" ng-click="takeOffer()">
    Take salary of {{employee.offer.salary}}$/hr <span ng-if="employee.offer.jobSecurity"> with job security </span>
  </div>
  <div class="bubble-employee selectable-bubble" ng-if="employee.empathetic != ''" ng-click="useBatna()">
    {{employee.batna}}
  </div>
</div>


<div class="options">
  <a class="btn-lg btn-default text-center" ui-sref="conflict.home"> Home </a>
</div>
