@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');


.menu{
  width: 80%;
  height: 90%;
  background-color: #eee;

  box-shadow: 10px 10px #666;

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 10%;

  border-style: solid;
  border-width: 2px;

  font-family: 'Raleway', sans-serif;

  padding-top : 10px;
  padding-bottom: 10px;

  min-height: 500px;
}

.game-view {
  padding: 0;
  margin: auto;

  width: 600px;
  height: 600px;
  display: block;

  border:1px solid #000000;
}

.question {
  margin : 10px;
}

.title{
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  padding: 5px;
}

.title-div {
  /*background-color: #888888;*/
}

.form-group {
  margin-top: 50px;
}

body {

}

.approach-content {
  margin: 10px;
}

.approach-bullet-points {
  font-size: 14px
}

#id1 .approach-bullet-points > a .btn-default{
  font-size: 45px !important;
}

.content-main {
  white-space: pre-wrap;
}
