.citation {
  color: #b4b4b4;
}

a.citation {
    cursor: pointer;
}

a.citation::selection,
a.citation:hover {
  text-decoration: none;

  color: #c4c4c4;
}

.pre-content {
  display: block;
  position: relative;
  white-space: pre-wrap;
}

.approach-content {
  display: block;
  position: relative;
}

.buttons-bottom {
  display: block;
}
