<div ng-repeat="question in quiz.questions" ng-init="parentIndex = $index">
  <h3> {{question.question}} </h3>
  <form action="">
    <ul class="question">
      <li ng-repeat="answer in question.options">
        <label>
          <input type="radio" name="parentIndex" value="$index"/> {{answer}} <br/>
        </label>
      </li>
    </ul>
  </form>
</div>

<div class="row form-group">
  <div class="col-md-1"></div>
  <div class="col-md-10 text-center">
    <a class="btn-lg btn-primary btn-block" > <i class="fa fa-graduation-cap"></i> submit </a>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row form-group">
  <div class="col-md-1"></div>
  <div class="col-md-10 text-center">
    <a class="btn-lg btn-primary btn-block" ui-sref="conflict.home"> <i class="fa fa-home"></i> Home </a>
  </div>
  <div class="col-md-1"></div>
</div>
