<div class="title-div">
  <h1 class="title text-center">
    {{content.title}}
  </h1>
</div>

<div class="approach-content">
  <div class="content-main" ng-bind="content.content">
  </div>

  <div class ="footer options text-center">
    <a ng-if="content.length > pageId" class="btn-lg btn-default" ui-sref="conflict.approach({chapterId:{{chapterId}}, pageId:{{pageId}}})"> Next </a>
    <a ng-if="content.length <= pageId" class="btn-lg btn-default" ui-sref="conflict.quiz({chapterId:{{chapterId}}})"> Quiz </a>
    <div>{{pageId}}/{{content.length}}</div>
  </div>

</div>
